<section class="section">
    <h1 class="title is-1 has-text-centered">
        <strong>Pantry</strong> Book
    </h1>
</section>
<section class="section">
    <div class="columns is-multiline">
        <% @categories.each do |cat| %>
        <div class="column is-one-quarter">
            <div class="box">
                <p class="subtitle"><%= cat.name %></p>
            </div>
        </div>
        <% end %>
        <div class="column is-one-quarter">
            <%= link_to new_category_path do %>
            <div class="box">
                <p class="subtitle">+ New Category</p>
            </div>
            <% end %>
        </div>
    </div>
</section>