<h1 class="title is-1 has-text-centered">
    <%= @category.name %>
    <%= image_tag "food/#{@category.icon}" %>
</h1>

<hr />

<section>
    <div id="recipe-cards">
        <% @recipes.each do |r| %>
        <%= render partial: "recipes/recipebox", locals: {recipe: r} %>
        <% end %>
    </div>
</section>

<%= link_to @category, method: :delete, data: {confirm: "Delete category for good?"}, class: "button is-danger" do %>
Remove Category
<% end %>